body {
    background-color:
}

.taskin {
    margin: 10px 0 0 5px;
}

.deleteButton {
    padding: 0 0 5px 10px;
}

.title {
    text-align: center;
}

.details,
.selectstars {
    padding: 0 0 0 15px;

}

.forinput {
    background-color: #EEEEEE;
    padding: 10px 10px 10px 10px;
    margin: 0 0 20px 0;
}

.calendar {
    display: flex;
}

.taskinput {
    color: gray;
    display: inline-block;
    padding: 8px 16px;
    margin: 0 0 10px 0;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: #CCCCCC;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
}

.taskinput:focus {
    outline: none;
    border-color: #5c9eff;
    background-color: #fff;
}

.taskinput::placeholder {
    color: #999;
}

li {
    text-align: center;
    list-style-type: none;
    border: 1px solid #666;

    display: table-cell;
    /* 定義 */
    cursor: pointer;
}

li:hover {
    background: #0066CC;
    color: #fff;
}

input,
textarea {
    margin: 3%;
    width: 95%;
    font-size: 80%;
    box-shadow: 3px 3px 3px 3px #555;
}

.postit2,
.postit1,
#searchInput,
#resultContainer2plus,
#datepicker {
    margin: 3%;
    width: 95%;
    font-size: 80%;
    box-shadow: 3px 3px 3px 3px #555;
}


.datepicker {
    margin: 3%;
    width: 95%;
    font-size: 80%;
    box-shadow: 3px 3px 3px 3px #555;

}

input {
    height: 30px;
}

textarea {
    height: 230px;
    margin: 0;
}







.star:hover,
.star.selected {
    color: gold;
}

ul {
    margin-top: 650px;
}

.top {
    overflow: hidden;
    border: none;
}

.contentwrapper {
    display: flex;
    margin: auto;
    justify-content: center;
}



.taskdetail2 {
    padding: 0 0 0 0;
}

.postit1 {
    height: 80px;
}

.allde {
    margin: 5px 0 5px 0;
}